<% layout("/layouts/boilerplate.ejs") -%>
<body>
    <div class="row  edit-row">
        <div class="col-8 offset-2 mt-3">
        </div>

    <h3>Edit your Listing</h3>
        <form  method="post" action="/listings/<%=list._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
            
            
            <div class="mb-3">
            <lable for="title" class="form-label">title</lable>
        <input name="listing[title]" value="<%=list.title%>" type="text" class="form-control" required>
        <div class="valid-feedback">
            title Looks good!
           </div>
        </div>



        <div class="mb-3">
            <label for="description" class="form-label">description</label>
        <textarea name="listing[description]" type="text"class="form-control" required><%=list.description%></textarea>
        <div class="invalid-feedback">
            Please enter valid description
          </div>
        </div>


        <div class="mb-3">
            <p>Original Listing Image</p>
            <img src="<%=OriginalImageUrl%>">
        </div>


    <div class="mb-3">
        <label for="image" class="form-label">Upload New Image</label>
        <input name="listing[image]"   type="file"class="form-control">
    </div>


<div class="row">
    <div class="mb-3 col-md-4">
        <label for="price" class="form-label">price</label>
        <input name="listing[price]"  value="<%=list.price%>" type="number"class="form-control"required>
        <div class="invalid-feedback">
           Price should be valid
          </div>
    </div>
    <div class="mb-3 col-md-8">
        <label for="country" class="form-label">country</label>
        <input name="listing[country]"  value="<%=list.country%>" type="text"class="form-control" required>
        <div class="invalid-feedback">
            Country should be valid
          </div>
    </div>
</div>
    <div class="mb-3">
        <label for="location" class="form-label">location</label>
        <input name="listing[location]"  value="<%=list.location%>" type="text" class="form-control"required>
        <div class="invalid-feedback">
           Location should be valid
          </div>
    </div>
    
        <button class="btn btn-dark mt-3 edit-btn">Edit</button>
    </form>
</div>
</div>
</body>